*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

.Customers{
    padding-bottom: 130px;
    max-width: 1170px;
    margin: 0 auto;
}
.Cusomers_slider{
    margin: 0 auto;
    width: 80%;
}

.Cusomers-screens_slider_item{
    width: 100px;
   
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    transform: scale(1.3);
}
.slick-slide{
    height: 400px !important;
    background-repeat: no-repeat;
}
.Cusomers-screens_slider_item1{
    background: url(../img/customers_Photo.png) center;
    background-repeat: no-repeat;
    
}
.Cusomers-screens_slider_item3{
    background: url(../img/custumers_Photo3.png) center;
    background-repeat: no-repeat;
}
.Cusomers-screens_slider_item4{
    background: url(../img/customers_Photo.png) center;
    background-repeat: no-repeat;
}
.Cusomers-screens_slider_item:focus{
    outline: none;
}


.slick-active-first.Cusomers-screens_slider_item{
    transform: scale(1);
    opacity: 0.5;
}

  .slick-active-last.Cusomers-screens_slider_item{
    transform: scale(1);
    opacity: 0.5;
}
@media screen and (max-width: 600px) {
    .slick-active-first.Cusomers-screens_slider_item{
        transform: scale(1.5);
        opacity: 1;
    }
    
      .slick-active-last.Cusomers-screens_slider_item{
        transform: scale(1.5);
        opacity: 1;
    }
}
.slick-arrow:focus{
    outline: none;
    cursor: pointer;
}
.slick-prev{
    position: absolute;
    border:  none;
    top: 270px;
    left: -20px;
    width: 22px;
    height: 44px;
    background:url(../img/Custumers_Arrow_prev.svg);
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 0px;
} 
.slick-next{
    position: absolute;
    top: 270px;
    right: 0px;
    border:  none;
    width: 22px;
    height: 44px;
    background:url(../img/custumers_Arrow.svg);
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 0px;
} 

.Customers_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Customers_title{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0px 15px;
    font-weight: 400;
    font-size: 32px;
    color: black;
}
.Customers_text_1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 60px 15px 35px 15px;
    max-width: 570px;
    color: gray;
    line-height: 1.5;
}
.Customers_text_2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 70px;
    font-size: 12px;
    color: black;
}