.featuresContainer {
  height: 610px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  flex-wrap: wrap;

}


.features h2 {
  font-family: Lato, sans-serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  color: #26272d;
}

.features p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8c8f94;
  max-width: 490px;
}

@media (max-width: 995px) {
  .features div {
    text-align: center;
  }
}

.features h2 {
  margin-top: 40px;
}

.features .featureTwo p {
  margin-top: 36px;
}

.features .featureOne p {
  margin-top: 33px;
}

@media (max-width: 979px) {
  .featureTwo {
    margin-top: 30px;
  }
}
