.iphoneFeature {
  padding-top: 150px;
  padding-bottom: 210px ;
  background: url("../img/iphoneFeature2.png") left;
  background-repeat: no-repeat;

}

.iphoneFeature_container{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iphoneFeatureInfo{
  margin-top: 0;
  width: 470px;
  
}


.tryToHack {
  width: 202px;
  padding: 10px 18px;
  background-color: #267df4;
  border-radius: 21px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  border: none;
  outline: none;
}

.tryToHack:active {
  transform: translateY(4px);
}

.tryToHack .arrowFeature {
  margin-left: 50px;
}

.learnMore:active {
  transform: translateY(4px);
}

.learnMore {
  width: 142px;
  padding: 10px 15px;
  border: 1px solid #26272d;
  border-radius: 21px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #26272d;
  margin-left: 20px;
  background-color: white;
  outline: none;
}

.iphoneFeatureInfo p{
  font-family: Lato, sans-serif;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  max-width: 470px;
}

.iphoneFeatureInfo h2 {
  font-family: VarelaRound, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
  margin-bottom: 50px;
}



.iphoneFeatureInfo button {
  margin-top: 80px;
  cursor: pointer;
}

.learnMore:hover {
  border: 1px solid white;
  color: white;
  background: #267df4 ;
}

.tryToHack:hover {
  color: #267df4;
  background: white;
  border: 1px solid #267df4;

}

@media (min-width: 1412px) {
  .iphoneFeature {
    background: url("../img/iphoneFeature.png") left;
    background-repeat: no-repeat;
  
  }
}
@media (max-width: 461px) {
 
}
@media (max-width: 960px) {
  .iphoneFeature {
    flex-wrap: wrap;
    justify-content: center;
  }
  .iphoneFeature {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    background: none;
  }
  
  .iphoneFeatureInfo {
    text-align: center;
  }
  .iphoneFeatureInfo{
    
    max-width: 100%;
    
  }
  .iphoneFeature div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .learnMore {
    margin-left: 0;
  }
}
