.mapFeature {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("../img/mapFeature2.png") right;
  background-repeat: no-repeat;
  
}
.mapFeatureContainer{
  
  max-width: 1170px;
  margin: 0 auto;
  
}

.mapFeatureContent {
  margin-top: 50px;
  padding: 0px 15px 0px 15px;
 
}

.mapFeatureContent h2 {
  font-family: VarelaRound, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
  max-width: 279px;

}



.mapFeatureContent p {
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  max-width: 469px;
}

.mapFeaturePartners h6 {
  font-family: Lato,sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.mapFeaturePartners a:last-child {
  margin-left: 35px;
}

.mapFeatureContent h2 {
  margin-bottom: 50px;
}

.mapFeatureContent p {
  margin-top: 35px;
}

.mapFeaturePartners {
  margin-top: 50px;
}

.mapFeaturePartners img {
  margin-top: 30px;
}
@media (min-width: 1171px) {
  .mapFeature {
   
    background: url("../img/mapFeature.png") right;
    background-repeat: no-repeat;
    
  }
}
@media (max-width: 960px) {
  .mapFeature {
    padding-top: 50px;
    padding-bottom: 100px;
    background: none;
  }
  .mapFeatureContent {
  
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 467px) {
  .mapFeaturePartners a:last-child {
    margin: 10px 0 0 0;
  }
}
