.mapFeature {
  display: flex;
  margin-top: 220px;
  max-height: 900px;
  justify-content: right;
  flex-wrap: wrap;

}

.mapFeatureContent {
  margin-right: 75px;
}

.mapFeatureContent h2 {
  font-family: VarelaRound, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;

}

@media (min-width: 1128px) {
  .mapFeatureContent h2 {
    max-width: 279px;
  }
}

.mapFeatureContent p {
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  max-width: 469px;

}
