.mapFeature {
  display: flex;
  margin-top: 220px;
  max-height: 900px;
  justify-content: right;
  flex-wrap: wrap;

}

.mapFeatureContent {
  margin-right: 75px;
}

.mapFeatureContent h2 {
  font-family: VarelaRound, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;

}

@media (min-width: 1128px) {
  .mapFeatureContent h2 {
    max-width: 279px;
  }
}

.mapFeatureContent p {
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  max-width: 469px;

}

.mapFeaturePartners h6 {
  font-family: Lato,sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.mapFeaturePartners a:last-child {
  margin-left: 35px;
}

.fullMapFeature {
  display: none;
}

@media (max-width: 1127px) {
  .mapFeature {
    justify-content: center;
    margin-left: 75px;
  }
  .mapFeaturePhoto {
    display: none;
  }
  .fullMapFeature {
    display: block;
    justify-content: center;
  }
  .mapFeatureContent {
    text-align: center;

  }

}

@media (max-width: 1110px) {
  .mapFeature {
    margin-top: 600px;
  }
}

@media (max-width: 467px) {
  .mapFeaturePartners a:last-child {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 500px) {
  .mapFeature {
    margin-top: 350px;
  }
}

@media (max-width: 540px) {
  .fullMapFeature {
    display: none;
  }
}


.mapFeatureContent h2 {
  margin-bottom: 50px;
}

.mapFeatureContent p {
  margin-top: 35px;
}

.mapFeaturePartners {
  margin-top: 50px;
}

.mapFeaturePartners img {
  margin-top: 30px;
}
